@import "tailwindcss";

@layer base {
  body {
    font-family: "Stack Sans Text", sans-serif;
  }
}


.typewriter {
  border-right: 0.15em solid black;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(40, end) forwards, blink-caret 0.75s step-end 4;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 15ch;
  }
}
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.orb-container {
  animation: orbit 20s linear infinite;
}

.orb-item {
  animation: orbit 20s linear infinite reverse;
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}